.button-newProduct,
.button-deleteProduct,
.button-home {
	border-radius: 10px;
	position: absolute;
	right: 6%;
	padding: 0.3rem;
	top: calc(var(--navbar-height) - 0.5rem);
	background-color: var(--white-color);
	color: var(--pink-color);
}

.button-deleteProduct .userNav,
.nav-buttons {
	display: flex;
	flex-direction: column;
	position: fixed;
	justify-content: space-evenly;
	background-color: var(--pink-color);
	top: 5.2rem;
	right: 0;
	height: 20%;
	width: 15%;
	opacity: 0.9;
}
.userNav.hidden,
.button-newProduct.hidden,
.button-deleteProduct.hidden {
	display: none;
}

.button-userNav {
	display: flex;
	justify-content: center;
	color: var(--white-color);
	display: block;
	text-align: center;
	line-height: 3rem;
	/* border-bottom: 0.2rem solid var(--shadow-color); */
}

.button-missingProduct {
	position: absolute;
	background: var(--pink-color);
	padding: 1rem;
	color: var(--white-color);
	border-radius: 15px;
	margin-top: 4rem;
	align-self: center;
}

.button {
	background-color: var(--pink-color);
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: textElements;
	border-radius: 5rem;
	border: none;
	padding: 0.5rem 2rem;
	font-size: 1rem;
}

:disabled {
	opacity: 0.6;
	/*cursor: not-allowed;*/
}
