.new-productForm {
	margin: auto;
	border: 0.2rem solid var(--shadow-color);
	border-radius: 10px;
	width: 60%;
	height: calc(60vh - var(--navbar-height) - var(--footer-height));
	/* height: 400px; */
	background: var(--white-color);
	padding: 2rem;
}
.title-newProduct {
	margin: auto;
	text-align: center;
	width: 60%;
	color: var(--pink-color);
}

label,
input {
	font-family: textElements;
	border: 0;
	outline: none;
	display: block;
	margin: 0.5rem;
}

input {
	background: var(--pink-color);
}

button {
	margin: auto;
}
