/*login*/

.profile-icon {
	color: var(--white-color);
	position: absolute;
	margin-left: 3px;
	margin-top: 11px;
	width: 14px;
	height: 6px;
	border-left: solid 2px currentColor;
	border-right: solid 2px currentColor;
	border-top: solid 2px currentColor;
	border-bottom: solid 2px transparent;
	border-radius: 6px 6px 0 0;
}

.profile-icon.hidden {
	display: none;
}

.profile-icon:before {
	content: '';
	position: absolute;
	left: 1px;
	top: -12px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	border: solid 2px currentColor;
}

.profile-icon,
.profile-icon:before {
	position: absolute;
	right: 0;
	margin-right: 3rem;
}
