.nav-bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	height: fit-content;
	background-color: var(--pink-color);
}

.nav-barItem {
	float: right;
}
.nav-barItem .index-button,
.nav-barItem .register-button,
.nav-barItem .login-button,
.nav-barItem .logout-button,
.nav-barItem .addNewProduct-button {
	display: block;
	color: var(--white-color);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	margin-top: 1rem;
}

.nav-barItem #button-userNav:hover {
	background-color: var(--white-color);
	color: var(--pink-color);
}

@media only screen and (max-width: 500px) {
	.nav-bar {
		position: fixed;
		top: var(--navbar-height);
		width: 100%;
		margin: 0;
	}
}
.index-button.hidden,
.register-button.hidden,
.login-button.hidden,
.logout-button.hidden,
.addNewProduct-button.hidden {
	display: none;
}
